button {
  background-color: white;
  border: 2px solid black;
  border-radius: 1px;
  color: black;
  margin-left: 2px;
  margin-right: 2px;
  padding: 1px 2px 1px 2px;
}

button:hover {
  background-color: black;
  color: white;
}

a {
  font-weight: bolder;
  cursor: pointer;
}

hr {
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
}

textarea {
  width: 80%;
  border: none;
  font-weight: lighter;
  margin: 10px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}
