<!--The content below is only a placeholder and can be replaced.-->

<div id="printDiv" style="border: 1px solid black;">
  Div to print
  <h1>
    Test div to print
  </h1>
  <span>Some text</span>
</div>

<br />
<little-dummy></little-dummy>
 
<br />
<ng-template #PrintTemplate>
  Template
  <h1>
    Test template to print
  </h1>
  <span>Some text</span>
</ng-template>

<br />
<button (click)="printDiv()">Print div</button>
<br />
<br />
<button (click)="printDivToCurrent()">Print div to current window</button>
<br />
<br />
<button (click)="printHTMLElementToCurrent()">Print component as native Element to current window</button>
<br />
<br />
<button (click)="printTemplate()">Print template</button>
<!-- <br />
<br />
<button (click)="createComp()">Create Compoennt</button> -->
<br />
<br />
<button (click)="printString()">Print div to current window</button>
