button {
  background-color: white;
  border: 2px solid black;
  border-radius: 2px;
  color: black;
  margin-left: 2px;
  margin-right: 2px;
  padding: 2px 3px 2px 3px;
}

button:hover {
  background-color: black;
  color: white;
}

a {
  font-weight: bolder;
  cursor: pointer;
}

hr {
  border: 1px dashed  black;
  margin-bottom: 25px;
}

textarea {
  width: 80%;
  border: none;
  font-weight: lighter;
  margin: 10px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.check {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: white;
  box-shadow: 13px 2px 9px black;
  background-color: #eeeeee;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

main {
  margin-top: 150px;
}

.anchor {
  padding-top: 150px;
  margin-top: -150px;
  display: inline-block; /* required for webkit browsers */
}


