<!--The content below is only a placeholder and can be replaced.-->
<h1>Welcome to ngx-printer-demo!</h1>
<div id="printDiv" style="border: 1px solid black;">
  Div to print
  <h1>
    Test div to print
  </h1>
  <span>Some text</span>
</div>

<br />
<little-dummy></little-dummy>
 
<br />
<ng-template #PrintTemplate>
  Template
  <h1>
    Test template to print
  </h1>
  <span>Some text</span>
</ng-template>

<br />
<span id="firstPrintItem" ngxPrintItem printName="First one" >A <b>first</b> span with an ngxPrintItem directive</span>
<br />
<span id="secondPrintItem" ngxPrintItem printName="Second one"  >A <b>second</b> span with an ngxPrintItem directive</span>
<br />
<br />
<button (click)="printWindowCurrent()">Print whole current window</button>
<br />
<br />
<button (click)="printDiv()">Print div</button>
<button (click)="printDivToCurrent()">Print div to current window</button>
<br />
<br />
<button (click)="printHTMLElementToCurrent()">Print component as native Element to current window</button>
<button (click)="printHTMLElementToCurrentWithCustomCSS()">Print component  to current window with custom css</button>
<br />
<br />
<button (click)="printTemplate()">Print template</button>
<button (click)="printTemplateCurrent()">Print template to current window</button>
<br />
<br />
<button (click)="printImage()">Print image</button>
<button (click)="printImageCurrent()">Print image to current window</button>

<br />
<button (click)="printPdf()">Print pf</button>
<!-- <br />
<br />
<button (click)="createComp()">Create Compoennt</button> 
<button (click)="printString()">Print div to current window</button>
-->
<br />
<br />
<br />
<h2>List of print items</h2>
<div *ngFor="let prinItem of $printItems | async">
  <span>{{prinItem.id}} - {{prinItem.printName}}</span>
  <button (click)="printItem(prinItem)">Print me!</button>
  <button (click)="printItemCurrent(prinItem)">Print me to current window!</button>
</div>
